---
import { site } from "../utils/site";
---

<footer class="footer">
  <div class="footer-inner">
    <strong>{site.siteName}</strong>

    <p>
      {site.siteDescription}
    </p>

    <div class="footer-links">
      <a href="/">Startseite</a>
      <a href="#">Impressum</a>
      <a href="#">Datenschutz</a>
    </div>
  </div>
</footer>
