---
import { site } from "../utils/site";
---

<header class="site-header">
  <div class="header-container">
    <a href="/" class="logo">
      {site.logoText}
    </a>

    <nav class="main-nav">
      <a href="/">Start</a>
      <a href="/kategorie/balkonkraftwerk">Balkonkraftwerk</a>
      <a href="/kategorie/speicher">Speicher</a>
      <a href="/kategorie/kaufberatung">Kaufberatung</a>
    </nav>
  </div>
</header>
