---
import { site } from "../utils/site";
---

<header class="site-header">
  <div class="header-container">

    <a href="/" class="logo">
      {site.logoText}
    </a>

    <nav class="main-nav">

      <a href="/">
        Start
      </a>

      <a href="/balkonspeicher">
        Balkonspeicher
      </a>

      <a href="/beste-balkonspeicher">
        Top Balkonspeicher
      </a>

      <a href="/balkonspeicher-vergleich">
        Vergleich
      </a>

      <a href="/hersteller">
        Hersteller
      </a>

    </nav>

  </div>
</header>