---
import { site } from "../utils/site";
---

<header class="site-header">
  <div class="header-container">
    <a href="/" class="logo">
      {site.logoText}
    </a>

    <nav class="main-nav">
      <a href="/">Start</a>

      <a href="/beste-balkonspeicher">
        Beste Balkonspeicher
      </a>

      <a href="/hersteller">
        Hersteller
      </a>

      <a href="/kategorie/balkonkraftwerk">
        Balkonkraftwerk
      </a>
    </nav>
  </div>
</header>